@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    width: 100vw;
    height: 125vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
}

section{
    width: 65vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

aside{
    width: 30vw;
}

section img{
    width: 30vw;
    border-radius: 30% 5% 30% 5%;
}

article{
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-size: 40px;
    padding: 15px 0px 15px 0px;
    font-family:  'Raleway', sans-serif;
    color: #fff;
    text-align: left;
}

p{
    font-family:  'Raleway', sans-serif;
    color: #fff;
    text-align: justify;
    margin: 5px;
    font-size: 17px;
}

@media screen and (max-width: 500px) {
    body{
        height: auto;
    }

    section{
        width: 90vw;
        flex-direction: column;
    }

    aside{
        width: 100%;
    }

    h1{
        font-size: 30px;
        padding: 15px 0px 15px 0px;
    }

    section img{
        width: 90vw;
        border-radius: 30% 5% 30% 5%;
        margin: 40px 0px 20px 0px;
    }

    article{
        width: 90vw;
    }
}