@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
}

h1{
    font-size: 40px;
    padding: 15px 0px 15px 0px;
    font-family:  'Raleway', sans-serif;
    color: #fff;
    text-align: left;
}

p, label{
    font-family:  'Raleway', sans-serif;
    color: #fff;
    text-align: justify;
    margin: 5px;
    font-size: 17px;
}

header{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main{
    background-color: #424242;
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main aside{
    width: 30%;
    height: 90%;
}

main aside div{
    width: 100%;
    height: 2px;
    background-color: #fff;
}

main aside p{
    padding: 8px 0px 0px 0px;
}

form{
     width: 40%;
     height: 100%;
     background-color: #44624d;
     padding: 20px;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: flex-start;
     border-radius: 0px 10px 10px 0px;
}

label{
    color: #ffffff;
    font-size: 15px;
}

input, #text{
    background-color: transparent;
    width: 100%;
    height: 30px;
    border: #ffffff solid 2px;
    padding: 5px;
    color: #fff;
    outline: none;
}

#text{
    height: 100px;
}

form button{
    text-transform: uppercase;
    padding: 7px 50px 7px 50px;
    border-radius: 0;
    border: none;
    color: #ffffff;
    background-color: #292929;
}

@media screen and (max-width: 500px) {
    main{
        width: 90vw;
        height: 80vh;
        flex-direction: column;
    }

    main img{
        display: none;
    }

    main aside{
        width: 80vw;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    form{
        width: 100%;
        height: 60%;
        border-radius: 0;
    }
}