@font-face {
    font-family: studly;
    src: url(../font/Studly\ Regular.otf)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.menu.active{
    display: flex;
}

.menu{
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.822);
}
.nav{
    width: 20vw;
    height: 100vh;
    background-color: #292929;
    padding: 10px 20px 0px 50px;
    animation: open 1s forwards;
}

.nav.close{
    animation: close 1s forwards;
}

.nav a:hover{
    color: #ffffff7a;
}

.nav a:hover div{
    background-color: #ffffff7a;
}

.btnclose{
    width: 150px;
    height: 80px;
    background: none;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.btnclose img{
    height: 40px;
}

.menu>button{
    width: 80vw;
    height: 100%;
    border: none;
    background: none;
}

.nav div{
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.nav ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav a{
    width: 90%;
    height: 60px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 25px;
}

.nav ul div{
    width: 45%;
}

nav{
    width: 90vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: #fff solid 2px;
    overflow: hidden;
}

nav button{
    background: none;
    border: none;
}

nav button>img{
    height: 40px;
}

.logo{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo img{
    height: 100%;
}

@keyframes open {
    0%{
        transform: translateX(-384px);
    }

    100%{
        transform: translateX(0px);
    }
}

@keyframes close {
    0%{
        transform: translateX(0px);
    }

    100%{
        transform: translateX(-384px);
    }
}

@media screen and (max-width: 500px) {
    nav{
        height: 8vh;
    }

    .logo{
        height: 50px;
    }

    .menu>button{
        width: 50%;
    }

    .nav{
        width: 50%;
        padding: 10px 20px 0px 20px;
    }

    .nav ul div{
        width: 80%;
    }
}